:root {
	--container-width: 1406px;
	--container-padding: 15px;

	--font-main: 'Poppins', sans-serif;

	--page-color: #fff;
	--text-color: #161414;
	--cardtext-color: #979797;
	--subtext-color: #878787;
	--accent: #5243C2;
	--red: #f00;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}