.about {
    padding: clamp(30px, 0.268rem + 8.04vw, 120px) 0;
}

.about__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: clamp(16px, 0.714rem + 1.43vw, 32px);
}

.about__text {
    color: var(--cardtext-color);
    font-size: clamp(14px, 0.839rem + 0.18vw, 16px);
    font-weight: 400;
    line-height: 32px;
}

.about__img {
    display: flex;
    justify-content: center;
    align-items: center;

    img { 
        overflow: hidden;
        border-radius: 12px;
    }

    @include mediaMobileS {
        display: none;
    }
}